body {
    user-select: none;
    background-color: #444444;
}

canvas {
    position: absolute;
}

#mapCanvas {
    z-index: 0;
}

#overlayCanvas {
    z-index: 1;
}

#playerCanvas {
    z-index: 2;
}